<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
</head>
<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/openInputText">Open Input Text</a>
        <a href="/CVprocessing">PDF CV Processing</a>
    </div>
    
    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
        <h2>Homepage</h2>
        <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
    </div>


    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
</body>
</html>


