<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='inputText.css') }}">
    <title>Open Input Text</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        {% include 'sidebar.html' %}
        <div id="toggle-btn">☰</div>
    </div>
    <div class="content">
        <h1>Open Input Text</h1>
        <b></b><div id="messageServer">Let's get you that dream job!</div></b>
        <div id="responses"></div>
        <div id="input-container">
            <textarea id="input-text" placeholder="Enter text"></textarea>
            <button id="send-button">➡️</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='textInput.js') }}"></script>
</body>
</html>
